<div class="min-h-screen" style="background: transparent; color: var(--text-primary);">
  <div class="max-w-4xl mx-auto py-8 px-4 ml-16 transition-all duration-300" id="page-content">
    <h1 class="text-4xl font-bold mb-8">Games</h1>
    
    <div data-react-component="GamesGrid" data-props='<%= {
      games: [
        # More games can be added here in the future
      ]
    }.to_json.html_safe %>'></div>
  </div>
</div>
