<div class="bg-black text-white min-h-screen">
  <div class="max-w-4xl mx-auto py-8 px-4 ml-16" id="page-content">
    <h1 class="text-4xl font-bold mb-8">Games</h1>
    
    <div data-react-component="GamesGrid" data-props="<%= { 
      games: [
        {
          title: 'Arena Shooter',
          description: 'A TF2-inspired arena shooter built with Three.js and React',
          imageUrl: 'https://via.placeholder.com/640x360?text=Arena+Shooter',
          link: '/games/arena-shooter'
        }
        # More games can be added here in the future
      ]
    }.to_json.html_safe %>"></div>
  </div>
</div>