<div class="bg-black text-white min-h-screen">
  <div class="max-w-4xl mx-auto py-8 px-4 ml-16" id="page-content">
    <h1 class="text-4xl font-bold mb-8">Games</h1>
    
    <div data-react-component="GamesGrid" data-props='<%= {
      games: [
        {
          title: "Arena Shooter",
          description: "A TF2-inspired arena shooter built with Three.js and React",
          imageUrl: "https://media.cleanshot.cloud/media/116489/vVjeiZsbnFLakBQe7JVjesEzbpV6qdd9ZNz5xphb.jpeg?Expires=1743157893&Signature=YfJ7lkqbEaJtrEuqQuiWfzSLQBXNQgvz9nLsG72lcTX5a5MEBS11or4hFnKMAsLRERMu8jNhp1xfknhIOD5Fa2RLdAD5EZpQzuB3vZ23z9D-YcnEPuvSH6lYOnVzHHxP1~G-JtB50HRmD~A0pfn2WfZdjAFm1REfg70YfENYwAyEA1SAm1CHf1DsL5o8-1nArzbDiNMhDAWF7eBJSdBGWITFDf3Ny0xfxk61fffQMgyiUhpjXUe84Km7bpPTjtTGl5DXKPtUw0ZRhNsFj7R1f-G5M3ojtT42OCoNirZxGW6ORP9acnmcGb2B7tIfFjTmncX-IiAufZxpKm5iJ1sJbw__&Key-Pair-Id=K269JMAT9ZF4GZ",
          link: "/games/arena-shooter"
        }
        # More games can be added here in the future
      ]
    }.to_json.html_safe %>'></div>
  </div>
</div>