<div class="w-full max-w-4xl">
  <div class="mb-6">
    <%= link_to "â† Back to blog", blog_path, class: "text-blue-600 hover:underline" %>
  </div>

  <article>
    <header class="mb-8">
      <h1 class="text-4xl font-bold mb-4"><%= @blog_post.title %></h1>
      
      <% if @blog_post.published_at %>
        <div class="text-gray-600">
          Published on <%= @blog_post.published_at.strftime("%B %d, %Y") %>
        </div>
      <% end %>
    </header>

    <div class="prose-container max-w-full">   
      <% content_json = @blog_post.content.to_json %>
      <div 
        id="markdown-container"
        data-react-component="MarkdownRenderer" 
        data-props='<%= raw({ content: @blog_post.content }.to_json) %>'
      ></div>
    </div>
  </article>
</div>